body {
font-family: Times, Times New Roman, serif;
margin: 20px;
padding: 20px;
background-color: #eae8e8;
}

h1 {
color: #333;
}

h3 {
font-size: 16px;
}

label {
margin-right: 10px;
}

input {
max-width: 80px;
min-height: 5px;
padding: 3px;
margin-bottom: 10px;
}

button {
color: black;
padding: 3px;
background-color: #eae8e8;
border: 0.5px solid black;
cursor: pointer;
}

.results-container {
display: flex;
justify-content: space-between;
margin-top: 20px;
}

.results-column {
flex: 1;
margin: 0 10px;
}

h2 {
font-size: 15px;
}

p {
margin: 10px 0;
white-space: pre-line; /* Allows for new lines in the text */
}

@media only screen and (max-width: 600px) {
body {
margin: 10px;
padding: 10px;
}

button {
width: 100%;
}

.results-container {
flex-direction: column; /* Stack columns vertically on small screens */
}
}
