html {
box-sizing: border-box;
font-size: 10px;
background: url('./images/outside.jpg') no-repeat center center fixed; /* Add your background image path here */
background-size: cover; /* Ensures the image covers the entire background */
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
padding: 0;
margin: 0;
font-family: 'Amatic SC', cursive;
}

.container {
text-align: center;
}

h1 {
font-size: 10rem;
line-height: 1;
margin-bottom: 3rem;
}

.score-timer {
display: flex;
justify-content: space-around;
font-size: 4rem;
margin: 20px 0;
}

.score {
background: rgba(255, 255, 255, 0.2);
padding: 0 3rem;
border-radius: 1rem;
}

.timer {
background: rgba(255, 255, 255, 0.2);
padding: 0 3rem;
border-radius: 1rem;
}

.start-button {
font-size: 3rem;
padding: 1rem 2rem;
margin-bottom: 20px;
cursor: pointer;
}

.game {
width: 600px;
height: 400px;
display: flex;
flex-wrap: wrap;
margin: 0 auto;
}

.hole {
flex: 1 0 33.33%;
overflow: hidden;
position: relative;
}

.hole:after {
display: block;
background: url('./images/dirt.svg') bottom center no-repeat;
background-size: contain;
content: '';
width: 100%;
height: 70px;
position: absolute;
z-index: 2;
bottom: -30px;
}

.mole {
background: url('./images/mole.svg') bottom center no-repeat;
background-size: 60%;
position: absolute;
top: 100%;
width: 100%;
height: 100%;
transition: all 0.4s;
}

.hole.up .mole {
top: 0;
}
