html {
box-sizing: border-box;
font-size: 10px;
background: url('./images/golfcourse.jpg') no-repeat center center fixed;
background-size: cover;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
padding: 0;
margin: 0;
font-family: 'Amatic SC', cursive;
}

.container {
text-align: center;
}

h1 {
font-size: 8rem; /* Title font size */
line-height: 1;
margin: 0;
}

.score-timer {
display: flex;
justify-content: space-around; /* Distributes space between the score and timer */
font-size: 3rem; /* Score and timer font size */
margin: 4px auto; /* Reduced margin */
width: 80%; /* Width of the score-timer section */
}

.score, .timer {
background: rgba(255, 255, 255, 0.5); 
border: 4px solid #030303;
padding: 0 1.5rem; /* Padding for score and timer */
border-radius: 1rem;
margin: 40px;
}

.start-button {
font-size: 2rem; /* Start button font size */
padding: 0.5rem 1rem; /* Padding for the start button */
margin-bottom: 20px;
cursor: pointer;
}

.game {
width: 500px; /* Width of the game area */
height: 200px; /* Height of the game area */
display: flex;
flex-wrap: wrap;
margin: 20px auto;
}

.hole {
flex: 1 0 33.33%; /* Each hole takes up one-third of the game area */
overflow: hidden;
position: relative;
}

.hole:after {
display: block;
background: url('./images/dirt.svg') bottom center no-repeat;
background-size: contain;
content: '';
width: 100%;
height: 60px; /* Increased height of dirt piles */
position: absolute;
z-index: 2;
bottom: -10px; /* Adjusted to position dirt piles appropriately */
}

.mole {
background: url('./images/groundhog.png') bottom center no-repeat;
background-size: 60%;
position: absolute;
top: 100%;
width: 100%;
height: 110%;
transition: all 0.4s;
}

.hole.up .mole {
top: 0;
}
